<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.smarking.mhealthsyria.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".SanaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/sana_logo"
        android:label="@string/app_name"
        android:logo="@mipmap/sana_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:screenOrientation="portrait"
            android:name=".view.MainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo">

            <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.login.DeviceProvisionActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.custom.QRScanner"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        android:logo="@mipmap/sana_logo"/>
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->

        <activity
            android:screenOrientation="portrait"
            android:name=".view.login.LoginActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>

        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.history.PatientHistoryActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.physician.PhysicianMenuActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.search.SearchPatientActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.add.AddNewPatientActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.edit.EditPatientActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.physician.AddNewPhysicianActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.add.AddNewTestActivity"
            android:windowSoftInputMode="stateHidden"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".view.patient.order.PatientMakeOrderActivity"
            android:label="@string/app_name"
            android:logo="@mipmap/sana_logo"/>

        <service android:name=".api.auth.provision.DeviceProvisionService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".api.sync.SyncService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".api.sync.ContentProvider"
            android:authorities="edu.mit.mhealthsyria"
            android:exported="false"
            android:label="MHealthSyria Provider"
            android:readPermission="edu.mit.mhealthsyria.READ"
            android:syncable="true"
            android:writePermission="edu.mit.mhealthsyria.WRITE" />

        <activity
            android:screenOrientation="portrait"
            android:name=".view.print.PrintDialogActivity"
            android:label="@string/title_activity_print_dialog">
        </activity>

        <receiver
            android:name=".api.sync.UpdateReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
                <!--
                <data android:mimeType="application/vnd.android.package-archive" />
                -->
            </intent-filter>
            <intent-filter>
                <action android:name="com.smarking.mhealthsyria.app.action.UPDATE_IN_PROGRESS" />
                <action android:name="com.smarking.mhealthsyria.app.action.UPDATE_DOWNLOAD_SUCCESS" />
                <action android:name="com.smarking.mhealthsyria.app.action.UPDATE_DOWNLOAD_FAILED" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </receiver>

        <service
            android:name=".api.sync.UpdateService"
            android:exported="false">
        </service>
    </application>

</manifest>
